@layout MainLayout
@page "/cha-cha-cha"

<MainLayout>
    <MainLayout.Title>Cha-Cha-Cha</MainLayout.Title>
    <MainLayout.Body>
        
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Cha-Cha-Cha</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <BallroomNav />
            <LatinNav />
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="bronzeDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bronze Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="bronzeDropdownMenuLink">
                    <a class="nav-link disabled" href="#">time step</a>
                    <a class="nav-link disabled" href="#">close basic movement</a>
                    <a class="nav-link disabled" href="#">open basic movement</a>
                    <a class="nav-link disabled" href="#">new york to right</a>
                    <a class="nav-link disabled" href="#">new york to left</a>
                    <a class="nav-link disabled" href="#">hand to hand to right</a>
                    <a class="nav-link disabled" href="#">hand to hand to left</a>
                    <a class="nav-link disabled" href="#">spot turn to right</a>
                    <a class="nav-link disabled" href="#">spot turn to left</a>
                    <a class="nav-link disabled" href="#">underarm turn turning right</a>
                    <a class="nav-link disabled" href="#">underarm turn turning left</a>
                    <a class="nav-link disabled" href="#">three cha cha chas to right</a>
                    <a class="nav-link disabled" href="#">three cha cha chas to left</a>
                    <a class="nav-link disabled" href="#">shoulder to shoulder</a>
                    <a class="nav-link disabled" href="#">aida</a>
                    <a class="nav-link disabled" href="#">fan</a>
                    <a class="nav-link disabled" href="#">open hip twist</a>
                    <a class="nav-link disabled" href="#">open hip twist to chasse</a>
                    <a class="nav-link disabled" href="#">close hip twist</a>
                    <a class="nav-link disabled" href="#">close hip twist to chasse</a>
                    <a class="nav-link disabled" href="#">hockey stick</a>
                    <a class="nav-link disabled" href="#">hockey stick to chasse</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="silverDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Silver Figures
                </span>
                <div class="dropdown-menu" role="menu" aria-labelledby="silverDropdownMenuLink">
                    <a class="nav-link disabled" href="#">alemana</a>
                    <a class="nav-link disabled" href="#">alemana from open opposing position</a>
                    <a class="nav-link disabled" href="#">natural top</a>
                    <a class="nav-link disabled" href="#">cross basic</a>
                    <a class="nav-link disabled" href="#">cross basic with turn</a>
                    <a class="nav-link disabled" href="#">cross basic to open opposing position</a>
                    <a class="nav-link dropdown-toggle" href="#" id="methods-of-changing-feet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">methods of changing feet</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="methods-of-changing-feet">
                        <a class="nav-link disabled" href="#">simple foot change</a>
                        <a class="nav-link disabled" href="#">chasse to right side link</a>
                        <a class="nav-link disabled" href="#">lock to right side link</a>
                        <a class="nav-link disabled" href="#">link to open opposing position</a>
                    </div>
                    <a class="nav-link disabled" href="#">spit cuban break to right</a>
                    <a class="nav-link disabled" href="#">split cuban break to left</a>
                    <a class="nav-link disabled" href="#">cuban breaks to right</a>
                    <a class="nav-link disabled" href="#">cuban breaks to left</a>
                    <a class="nav-link disabled" href="#">cuban break amalamations</a>
                    <a class="nav-link disabled" href="#">cuban breaks in open opposing position</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="goldDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gold Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="goldDropdownMenuLink">
                    <a class="nav-link disabled" href="#">close hip twist spiral</a>
                    <a class="nav-link disabled" href="#">open hip towist spiral</a>
                    <a class="nav-link disabled" href="#">turkish towel</a>
                    <a class="nav-link disabled" href="#">sweetheart</a>
                    <a class="nav-link disabled" href="#">follow my leader</a>
                    <a class="nav-link disabled" href="#">syncopated open hip twist</a>
                    <a class="nav-link disabled" href="#">curl</a>
                    <a class="nav-link disabled" href="#">rope spinning</a>
                    <a class="nav-link disabled" href="#">overturned lock ending</a>
                    <a class="nav-link disabled" href="#">continuous overturned lock</a>
                    <a class="nav-link disabled" href="#">swivel from opverturned lock</a>
                    <a class="nav-link disabled" href="#">swivels</a>
                    <a class="nav-link disabled" href="#">walks and whisks</a>
                    <a class="nav-link dropdown-toggle" href="#" id="advanced-methods-of-changing-feet" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">advanced methods of changing feet</a>
                    <div class="dropdown-menu" role="menu" aria-labelledby="advanced-methods-of-changing-feet">
                        <a class="nav-link disabled" href="#">link to fan left angle</a>
                        <a class="nav-link disabled" href="#">syncopated right side link</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>

    </MainLayout.Body>
</MainLayout>