@layout MainLayout
@page "/jive"
@*title "Jive"*@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Jive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <BallroomNav />
            <LatinNav />
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="bronzeDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bronze Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="bronzeDropdownMenuLink">
                    <a class="nav-link disabled" href="#">basic in place</a>
                    <a class="nav-link disabled" href="#">basic in fallaway</a>
                    <a class="nav-link disabled" href="#">change of place from right to left</a>
                    <a class="nav-link disabled" href="#">change of place from left to right</a>
                    <a class="nav-link disabled" href="#">american spin</a>
                    <a class="nav-link disabled" href="#">change of place behind the back</a>
                    <a class="nav-link" href="#link">link</a>
                    <a class="nav-link disabled" href="#whip">whip</a>
                    <a class="nav-link disabled" href="#">slow promenade walks</a>
                    <a class="nav-link disabled" href="#">quick promenade walks</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="silverDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Silver Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="silverDropdownMenuLink">
                    <a class="nav-link disabled" href="#">fallaway throwaway</a>
                    <a class="nav-link disabled" href="#">change of place from right to left with double spin</a>
                    <a class="nav-link disabled" href="#">overdurned change of place from left to right</a>
                    <a class="nav-link disabled" href="#">double cross whip</a>
                    <a class="nav-link disabled" href="#">reverse whip</a>
                    <a class="nav-link disabled" href="#">curly whip</a>
                    <a class="nav-link disabled" href="#">overturned fallaway throwaway</a>
                    <a class="nav-link disabled" href="#">stop and go</a>
                    <a class="nav-link disabled" href="#">hip bump</a>
                    <a class="nav-link disabled" href="#">windmill</a>
                    <a class="nav-link disabled" href="#">mooch</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="goldDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gold Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="goldDropdownMenuLink">
                    <a class="nav-link disabled" href="#">spanish arms</a>
                    <a class="nav-link disabled" href="#">chicken walks</a>
                    <a class="nav-link disabled" href="#">rolling off the arm</a>
                    <a class="nav-link disabled" href="#">simple spin</a>
                    <a class="nav-link disabled" href="#">rock to simple spin</a>
                    <a class="nav-link disabled" href="#">flicks into break</a>
                    <a class="nav-link disabled" href="#">toe heel swivels</a>
                    <a class="nav-link disabled" href="#">sugar push</a>
                    <a class="nav-link disabled" href="#">miami special</a>
                    <a class="nav-link disabled" href="#">shoulder spin</a>
                    <a class="nav-link disabled" href="#">chugging</a>
                    <a class="nav-link disabled" href="#">catapult</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<section>
    <h2 id="link">Link</h2>
    <h3>Men</h3>
    <table class="table table-striped table-bordered table-sm" style="width:2800px">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width:150px">Step</th>
                <th scope="col" style="width:150px">Foot Placement</th>
                <th scope="col" style="width:150px">General Action</th>
                <th scope="col" style="width:150px">Quantity of Turn</th>
                <th scope="col" style="width:150px">Foot Action</th>
                <th scope="col" style="width:150px">Timing</th>
                <th scope="col" style="background-color:brown; border-color: brown; width:150px">Alignment</th>
                <th scope="col" style="background-color:brown; border-color: brown; width:150px">Couple Position</th>
                <th scope="col" style="background-color:brown; border-color: brown; width:150px">Lead<br/>Hold Shaping</th>
                <th scope="col" style="background-color:gold; border-color: gold; width:150px">Hip Design</th>
                <th scope="col" style="background-color:gold; border-color: gold; width:150px">Hip M. Actions</th>
                <th scope="col" style="background-color:gold; border-color: gold; width:150px">Sway</th>
                <th scope="col" style="background-color:gold; border-color: gold; width:150px">Translation</th>
                <th scope="col" style="background-color:gold; border-color: gold; width:150px">Squeeze</th>
                <th scope="col" style="background-color:gold; border-color: gold; width:150px">Rotation</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <h3>Ladies</h3>

</section>

<section>
    <h2 id="whip">Whip</h2>
    <h3>Men</h3>
    
    <h3>Ladies</h3>

</section>
