@layout MainLayout
@page "/paso-doble"
@*title "Paso Doble"*@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Paso Doble</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <BallroomNav />
            <LatinNav />
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="bronzeDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bronze Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="bronzeDropdownMenuLink">
                    <a class="nav-link disabled" href="#">basic movement</a>
                    <a class="nav-link disabled" href="#">sur place</a>
                    <a class="nav-link disabled" href="#">chasses to right</a>
                    <a class="nav-link disabled" href="#">drag</a>
                    <a class="nav-link disabled" href="#">chasses to left</a>
                    <a class="nav-link disabled" href="#">attack</a>
                    <a class="nav-link disabled" href="#">huit</a>
                    <a class="nav-link disabled" href="#">separation</a>
                    <a class="nav-link disabled" href="#">natural twist turn</a>
                    <a class="nav-link disabled" href="#">promenade</a>
                    <a class="nav-link disabled" href="#">closed promenade</a>
                    <a class="nav-link disabled" href="#">promenade link</a>
                    <a class="nav-link disabled" href="#">sixteen</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="silverDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Silver Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="silverDropdownMenuLink">
                    <a class="nav-link disabled" href="#">promenade to counter promenade</a>
                    <a class="nav-link disabled" href="#">grand circle</a>
                    <a class="nav-link disabled" href="#">banderillas</a>
                    <a class="nav-link disabled" href="#">fallaway reverse</a>
                    <a class="nav-link disabled" href="#">fallaway whisk</a>
                    <a class="nav-link disabled" href="#">spanish lines</a>
                    <a class="nav-link disabled" href="#">la passe</a>
                    <a class="nav-link disabled" href="#">synchopated separation</a>
                    <a class="nav-link disabled" href="#">flamenco taps</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="goldDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gold Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="goldDropdownMenuLink">
                    <a class="nav-link disabled" href="#">twists</a>
                    <a class="nav-link disabled" href="#">chasse cape</a>
                    <a class="nav-link disabled" href="#">travelling spins from promenade position</a>
                    <a class="nav-link disabled" href="#">synchopated coup de pique</a>
                    <a class="nav-link disabled" href="#">separation with lady's caping walks</a>
                    <a class="nav-link disabled" href="#">farol</a>
                    <a class="nav-link disabled" href="#">fregolina</a>
                    <a class="nav-link disabled" href="#">methods of changing feet</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
