@layout MainLayout
@page "/quickstep"
@*title "Quickstep"*@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Quickstep</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <BallroomNav />
            <LatinNav />
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="bronzeDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bronze Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="bronzeDropdownMenuLink">
                    <a class="nav-link disabled" href="#">basic movement - quarter turn and progessive chasse</a>
                    <a class="nav-link disabled" href="#">natural turn</a>
                    <a class="nav-link disabled" href="#">reverse turn</a>
                    <a class="nav-link disabled" href="#">progressive chasse to right</a>
                    <a class="nav-link disabled" href="#">progressive chasse to left</a>
                    <a class="nav-link disabled" href="#">cross chasse</a>
                    <a class="nav-link disabled" href="#">quarter turn to right</a>
                    <a class="nav-link disabled" href="#">quarter turn to left</a>
                    <a class="nav-link disabled" href="#">outside change</a>
                    <a class="nav-link disabled" href="#">natural pivot</a>
                    <a class="nav-link disabled" href="#">running finish</a>
                    <a class="nav-link disabled" href="#">backward lock</a>
                    <a class="nav-link disabled" href="#">forward lock</a>
                    <a class="nav-link disabled" href="#">open natural turn</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="silverDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Silver Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="silverDropdownMenuLink">
                    <a class="nav-link disabled" href="#">natural spin turn</a>
                    <a class="nav-link disabled" href="#">hestiation change</a>
                    <a class="nav-link disabled" href="#">double reverse spin</a>
                    <a class="nav-link disabled" href="#">impetus</a>
                    <a class="nav-link disabled" href="#">impetus to promenade position</a>
                    <a class="nav-link disabled" href="#">telemark</a>
                    <a class="nav-link disabled" href="#">telemark to promenade position</a>
                    <a class="nav-link disabled" href="#">whisk</a>
                    <a class="nav-link disabled" href="#">back whisk</a>
                    <a class="nav-link disabled" href="#">open reverse turn</a>
                    <a class="nav-link disabled" href="#">tripple chasse to right at corner</a>
                    <a class="nav-link disabled" href="#">tripple chasse to right at line of dance</a>
                    <a class="nav-link disabled" href="#">tripple chasse to left</a>
                    <a class="nav-link disabled" href="#">four quick run</a>
                    <a class="nav-link disabled" href="#">zig zag</a>
                    <a class="nav-link disabled" href="#">V6</a>
                    <a class="nav-link disabled" href="#">outside spin</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="goldDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gold Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="goldDropdownMenuLink">
                    <a class="nav-link disabled" href="#">reverse pivot</a>
                    <a class="nav-link disabled" href="#">natural turning lock</a>
                    <a class="nav-link disabled" href="#">drag hestiation</a>
                    <a class="nav-link disabled" href="#">chross swivel</a>
                    <a class="nav-link disabled" href="#">fishtail</a>
                    <a class="nav-link disabled" href="#">running natural turn</a>
                    <a class="nav-link disabled" href="#">running cross chasse</a>
                    <a class="nav-link disabled" href="#">six quick run</a>
                    <a class="nav-link disabled" href="#">tipsy to right</a>
                    <a class="nav-link disabled" href="#">tipsy to left</a>
                    <a class="nav-link disabled" href="#">rumba cross</a>
                    <a class="nav-link disabled" href="#">hover corte</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
