@layout MainLayout
@page "/rumba"
@*title "Rumba"*@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Rumba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <BallroomNav />
            <LatinNav />
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="bronzeDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bronze Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="bronzeDropdownMenuLink">
                    <a class="nav-link disabled" href="#">close basic movement</a>
                    <a class="nav-link disabled" href="#">open basic movement</a>
                    <a class="nav-link disabled" href="#">new york to right</a>
                    <a class="nav-link disabled" href="#">new york to left</a>
                    <a class="nav-link disabled" href="#">hand to hand to right</a>
                    <a class="nav-link disabled" href="#">hand to hand to left</a>
                    <a class="nav-link disabled" href="#">spot turn to right</a>
                    <a class="nav-link disabled" href="#">spot turn to left</a>
                    <a class="nav-link disabled" href="#">underarm turn turning right</a>
                    <a class="nav-link disabled" href="#">underarm turn turning left</a>
                    <a class="nav-link disabled" href="#">side walks and cucarachas</a>
                    <a class="nav-link disabled" href="#">fan</a>
                    <a class="nav-link disabled" href="#">open hip twist</a>
                    <a class="nav-link disabled" href="#">open hip twist finished to side</a>
                    <a class="nav-link disabled" href="#">hockey stick</a>
                    <a class="nav-link disabled" href="#">hockey stick finished to side</a>
                    <a class="nav-link disabled" href="#">opening out</a>
                    <a class="nav-link disabled" href="#">shoulder to shoulder</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="silverDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Silver Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="silverDropdownMenuLink">
                    <a class="nav-link disabled" href="#">alternative basic movement</a>
                    <a class="nav-link disabled" href="#">close hip twist</a>
                    <a class="nav-link disabled" href="#">close hip twist finished to side</a>
                    <a class="nav-link disabled" href="#">alemana</a>
                    <a class="nav-link disabled" href="#">alemana finished to side</a>
                    <a class="nav-link disabled" href="#">progressive forward walks</a>
                    <a class="nav-link disabled" href="#">progressive forward walks to fan</a>
                    <a class="nav-link disabled" href="#">aida</a>
                    <a class="nav-link disabled" href="#">continuous hip twist</a>
                    <a class="nav-link disabled" href="#">cuban rocks</a>
                    <a class="nav-link disabled" href="#">fancing to spin</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="goldDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gold Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="goldDropdownMenuLink">
                    <a class="nav-link disabled" href="#">continuous circular hip twist</a>
                    <a class="nav-link disabled" href="#">syncopated open hip twist</a>
                    <a class="nav-link disabled" href="#">natural top</a>
                    <a class="nav-link disabled" href="#">reverse top</a>
                    <a class="nav-link disabled" href="#">curl</a>
                    <a class="nav-link disabled" href="#">curl finished to side</a>
                    <a class="nav-link disabled" href="#">spiral</a>
                    <a class="nav-link disabled" href="#">spiral finished to side</a>
                    <a class="nav-link disabled" href="#">spiral to fan</a>
                    <a class="nav-link disabled" href="#">three alemanas</a>
                    <a class="nav-link disabled" href="#">sliding doors</a>
                    <a class="nav-link disabled" href="#">advanced sliding doors</a>
                    <a class="nav-link disabled" href="#">three threes</a>
                    <a class="nav-link disabled" href="#">three threes to fan</a>
                    <a class="nav-link disabled" href="#">rope spinning</a>
                    <a class="nav-link disabled" href="#">swivels</a>
                    <a class="nav-link disabled" href="#">overturned basic</a>
                </div>
            </li>
        </ul>
    </div>
</nav>