<thead class="thead-dark">
    <tr>
        <th scope="col" style="width:50px">Step</th>
        <th scope="col" style="width:300px">
            <a href="glossary.html#foot-placement" style="color:white">Foot Placement</a>
        </th>
        <th scope="col" style="width:200px">
            <a href="glossary.html#alignment" style="color:white">Alignment</a>
        </th>
        <th scope="col" style="width:300px">
            <a href="glossary.html#turn" style="color:white">Turn</a>
        </th>
        <th scope="col" style="width:150px">
            <a href="glossary.html#foot-action" style="color:white">Foot Action</a>
        </th>
        <th scope="col" style="width:70px">
            <a href="glossary.html#timing" style="color:white">Timing</a>
        </th>
        <th scope="col" style="background-color:brown; border-color: brown; width:200px">
            <a href="glossary.html#couple-position" style="color:white">Couple Position</a>
        </th>
        <th scope="col" style="background-color:brown; border-color: brown; width:400px">
            <a href="glossary.html#rotation" style="color:white">Rotation</a>
        </th>
        <th scope="col" style="background-color:brown; border-color: brown; width:400px">
            <a href="glossary.html#rise-and-fall" style="color:white">Rise and Fall</a>
        </th>
        <th scope="col" style="background-color:gold; border-color: gold; width:120px">
            <a href="glossary.html#type-of-sway" style="color:white">Type of Sway</a>
        </th>
        <th scope="col" style="background-color:gold; border-color: gold; width:auto">
            <a href="glossary.html#extension" style="color:white">Extension</a>
        </th>
    </tr>
</thead>