<li class="nav-item dropdown">
    <span class="nav-link dropdown-toggle" id="latinDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Latin
    </span>
    <div class="dropdown-menu" aria-labelledby="latinDropdownMenuLink">
        <a class="dropdown-item" href="cha-cha-cha.html">Cha-Cha-Cha</a>
        <a class="dropdown-item" href="jive.html">Jive</a>
        <a class="dropdown-item" href="paso-doble.html">Paso Doble</a>
        <a class="dropdown-item" href="rumba.html">Rumba</a>
        <a class="dropdown-item" href="samba.html">Samba</a>
    </div>
</li>