@layout MainLayout
@page "/samba"
@*title "Samba"*@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Samba</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <BallroomNav />
            <LatinNav />
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="bronzeDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bronze Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="bronzeDropdownMenuLink">
                    <a class="nav-link disabled" href="#">natural basic movement</a>
                    <a class="nav-link disabled" href="#">reverse basic movement</a>
                    <a class="nav-link disabled" href="#">progressive basic movement</a>
                    <a class="nav-link disabled" href="#">side basic movement to left</a>
                    <a class="nav-link disabled" href="#">side basic movement to right</a>
                    <a class="nav-link disabled" href="#">outside basic</a>
                    <a class="nav-link disabled" href="#">samba whisk to left</a>
                    <a class="nav-link disabled" href="#">samba whisk to right</a>
                    <a class="nav-link disabled" href="#">sationary samba walks</a>
                    <a class="nav-link disabled" href="#">promenade samba walks</a>
                    <a class="nav-link disabled" href="#">side samba walk</a>
                    <a class="nav-link disabled" href="#">reverse turn</a>
                    <a class="nav-link disabled" href="#">promenade to counter promenade botafogos</a>
                    <a class="nav-link disabled" href="#">side samba chasse</a>
                    <a class="nav-link disabled" href="#">travelling botofogos forward</a>
                    <a class="nav-link disabled" href="#">travelling botofogos backward to promenade position</a>
                    <a class="nav-link disabled" href="#">criss chross botafogos</a>
                    <a class="nav-link disabled" href="#">criss cross voltas to right</a>
                    <a class="nav-link disabled" href="#">criss cross voltas to left</a>
                    <a class="nav-link disabled" href="#">travelling voltas to right</a>
                    <a class="nav-link disabled" href="#">travelling voltas to left</a>
                    <a class="nav-link disabled" href="#">underarm turning right</a>
                    <a class="nav-link disabled" href="#">underarm turning left</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="silverDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Silver Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="silverDropdownMenuLink">
                    <a class="nav-link disabled" href="#">maypole lady turning right</a>
                    <a class="nav-link disabled" href="#">maypole lady turning left</a>
                    <a class="nav-link disabled" href="#">cruzados walks</a>
                    <a class="nav-link disabled" href="#">cruzados locks</a>
                    <a class="nav-link disabled" href="#">dropped vota</a>
                    <a class="nav-link disabled" href="#">circular voltas turning right</a>
                    <a class="nav-link disabled" href="#">circular voltas turning left</a>
                    <a class="nav-link disabled" href="#">same foot botafogos</a>
                    <a class="nav-link disabled" href="#">samba locks lady on left side</a>
                    <a class="nav-link disabled" href="#">samba locks lady on right side</a>
                    <a class="nav-link disabled" href="#">methods of changing feet</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="goldDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gold Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="goldDropdownMenuLink">
                    <a class="nav-link disabled" href="#">natural roll</a>
                    <a class="nav-link disabled" href="#">reverse roll</a>
                    <a class="nav-link disabled" href="#">close rocks</a>
                    <a class="nav-link disabled" href="#">open rocks</a>
                    <a class="nav-link disabled" href="#">backward rocks</a>
                    <a class="nav-link disabled" href="#">plait</a>
                    <a class="nav-link disabled" href="#">corta jaca</a>
                    <a class="nav-link disabled" href="#">same position corta jaca</a>
                    <a class="nav-link disabled" href="#">double spiral turn</a>
                    <a class="nav-link disabled" href="#">promenade to counter promenade runs</a>
                    <a class="nav-link disabled" href="#">drag</a>
                    <a class="nav-link disabled" href="#">rolling off the arm</a>
                    <a class="nav-link disabled" href="#">carioca runs</a>
                    <a class="nav-link disabled" href="#">argentine crosses</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
