@layout MainLayout
@page "/tango"
@*title "Tango"*@

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="index.html">Tango</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <BallroomNav />
            <LatinNav />
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="bronzeDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Bronze Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="bronzeDropdownMenuLink">
                    <a class="nav-link disabled" href="#">tap and alternative entries to promenade position</a>
                    <a class="nav-link disabled" href="#">progressive side step</a>
                    <a class="nav-link disabled" href="#">brush tap</a>
                    <a class="nav-link disabled" href="#">progressive link</a>
                    <a class="nav-link disabled" href="#">closed promenade</a>
                    <a class="nav-link disabled" href="#">open promenade</a>
                    <a class="nav-link disabled" href="#">back corte</a>
                    <a class="nav-link disabled" href="#">basic reverse turn</a>
                    <a class="nav-link disabled" href="#">open reverse turn</a>
                    <a class="nav-link disabled" href="#">rock on left foot</a>
                    <a class="nav-link disabled" href="#">rock on right foot</a>
                    <a class="nav-link disabled" href="#">natural rock turn</a>
                    <a class="nav-link disabled" href="#">natural twist turn from promenade position</a>
                    <a class="nav-link disabled" href="#">natural turn from promenade position</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="silverDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Silver Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="silverDropdownMenuLink">
                    <a class="nav-link disabled" href="#">promenade link turned to right</a>
                    <a class="nav-link disabled" href="#">promenade link turned to left</a>
                    <a class="nav-link disabled" href="#">back open promenade</a>
                    <a class="nav-link disabled" href="#">fallaway in promenade</a>
                    <a class="nav-link disabled" href="#">whisk</a>
                    <a class="nav-link disabled" href="#">back whisk</a>
                    <a class="nav-link disabled" href="#">progressive side step reverse turn</a>
                    <a class="nav-link disabled" href="#">four step</a>
                    <a class="nav-link disabled" href="#">fallaway four step</a>
                    <a class="nav-link disabled" href="#">outside swivel after open finish turning to right</a>
                    <a class="nav-link disabled" href="#">outside swivel after open finish turning to left</a>
                    <a class="nav-link disabled" href="#">reverse outside swivel</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="goldDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Gold Figures
                </span>
                <div class="dropdown-menu" aria-labelledby="goldDropdownMenuLink">
                    <a class="nav-link disabled" href="#">four step change</a>
                    <a class="nav-link disabled" href="#">five step</a>
                    <a class="nav-link disabled" href="#">mini five step</a>
                    <a class="nav-link disabled" href="#">quick reverse turn</a>
                    <a class="nav-link disabled" href="#">fallaway reverse and slip pivot</a>
                    <a class="nav-link disabled" href="#">telemark to promenade position</a>
                    <a class="nav-link disabled" href="#">open natural turn</a>
                    <a class="nav-link disabled" href="#">outside spin</a>
                    <a class="nav-link disabled" href="#">natural twist turn</a>
                    <a class="nav-link disabled" href="#">chase</a>
                    <a class="nav-link disabled" href="#">chase alternative endings</a>
                    <a class="nav-link disabled" href="#">oversway</a>
                    <a class="nav-link disabled" href="#">drop oversway</a>
                    <a class="nav-link disabled" href="#">oversway alternative endings</a>
                    <a class="nav-link disabled" href="#">contra check</a>
                    <a class="nav-link disabled" href="#">reverse pivot</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
