<li class="nav-item dropdown">
    <span class="nav-link dropdown-toggle" id="ballroomDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Ballroom
    </span>
    <div class="dropdown-menu" aria-labelledby="ballroomDropdownMenuLink">
        <a class="dropdown-item" href="quickstep.html">Quickstep</a>
        <a class="dropdown-item" href="slowfox.html">Slowfox</a>
        <a class="dropdown-item" href="tango.html">Tango</a>
        <a class="dropdown-item" href="viennese-waltz.html">Viennese Waltz</a>
        <a class="dropdown-item" href="english-waltz.html">English Waltz</a>
    </div>
</li>